body{
  display: flex;
  justify-content: center;
}

header, .CurrentPlayer {
  text-align: center;
}

.StartButton {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}
.CurrentPlayer p {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.BoardGame {
  margin: 2em auto;
  display: grid;
  width: 70vw;
  height: 70vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px;
  background-color: black;
}

@media (orientation: landscape) {
  .BoardGame {
    width: 50vh;
    height: 50vh;
    margin: auto;
  }
}

.Tile {
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
