html {
  margin: auto;
}

body {
  font-family: sans-serif;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.App {
  margin: auto;
  height: fit-content;
  width: fit-content;
  padding: 3em;
  background: rgba( 255, 255, 255, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

header {
  text-transform: uppercase;
  font-size: 1.5em;
}

h1 {
  margin: 0;
}

header, .CurrentPlayer {
  text-align: center;
  color: white;
  font-weight: bold;
}

.StartButton {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.Settings {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.showSettings {
  font-size: 0.5em;
  margin: 0.5em 0;
  align-self: flex-end;
}

button {
  padding: 1em;
  border-radius: 2em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.216);
  color: white;
  border-color: white;
  border-style: solid;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  font-size: 0.75em;
}

.buttonGroupStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}

.buttonGroupEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.buttonGroupMiddle {
  border-radius: 0;
  border-right-width: 0;
}

button.active {
  background-color: rgba(255, 255, 255, 0.382);
  color: black;
}

@media (hover: hover){
  button:hover {
    background-color: rgba(255, 255, 255, 0.71);
    color: black;
    /* border-color: black; */
  }
}

.CurrentPlayer p {
  animation: fadeIn 1s;
  transition: all 1s;
  margin-bottom: 2.5em;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.BoardGame {
  padding: auto;
  padding-bottom: 1em;
  display: grid;
  width: 70vw;
  height: 70vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

@media (orientation: landscape) {
  .BoardGame {
    width: 50vh;
    height: 50vh;
    margin: auto;
  }
}

.Tile {
  background-color: rgba(255, 255, 255, 0.483);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: whitesmoke;
  border-left-color: black;
  border-top-color: black;
  font-size: 2.5em;
}


.EndOfGame {
  color: white;
  background-color: rgba(0, 0, 0, 0.915);
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  white-space: pre-line;
}

.GameSpace {
  position: relative;
  display: flex;
  flex-direction: column;
}
